<h1>New subtraction</h1>

<form action = "/wizard_subtract">
  <label for = "first_num_box">Subtract this:</label>
  <input id ="first_num_box" type = "text" name = "first_num">

  <label for = "second_num_box">from this:</label>
  <input id ="second_num_box" type = "text" name = "second_num">

  <button>Subtract!</button>

</form>